#{extends 'main.html' /} 
#{set title:'MyRent Input Data page' /}

<nav class="ui inverted green menu">
	<a class="ui item" href="/">Welcome</a> 
	<a class="ui active item" href="/InputData">Input data</a> 
	<a class="ui item" href="/Report">Report</a>
	<a class="ui item" href="/Contact">Contact</a> 
	#{if currentLandlord != null}
      <a class="ui item" href="/editdetail">Edit Details</a>
      <a class="ui item" href="/Landlords/Logout">Landlord Logout</a>
    #{/if} 
    #{if currentTenant != null}
	  <a class="ui item" href="/Tenants/Logout">Tenant Logout</a>
	#{/if}
</nav>

<div class="ui two colume grid">
	<div class="eight wide column">
		<section class="ui form segment">
			<form action="/InputData/InputData" method="POST">
				<h2 class="ui dividing header">Input Residence Data</h2>
					<div class="two fields">
						<div class="field">
						<label>Location</label>
							<input type="text" id="geolocation" name="location" value="52.254427, -7.185281" readonly class="input-medium">  
						</div>
					    <div class="field">
					    <label>Eircode</label>
							<input placeholder="Enter Eircode e.g. X92 Y433" type="text" name="eircode">  
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<div class="ui left action input">
								<button class="ui green labeled icon button">
									<i class="euro icon"></i> Rent
								</button>
								<input placeholder="1500" type="text" name="rent">
							</div>
						</div>
						<div class="field">
							<div class="ui left action input">
								<button class="ui green labeled icon button">
									<i class="bed icon"></i> Bedrooms
								</button>
								<input placeholder="3" type="text" name="bedrooms">
							</div>
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<div class="ui left action input">
								<button class="ui green labeled icon button">
									<i class="female icon"></i> Bathrooms
								</button>
								<input placeholder="2" type="text" name="numberBathrooms">
							</div>
						</div>
						<div class="field">
							<div class="ui left action input">
								<button class="ui green labeled icon button">
									<i class="superscript icon"></i> Area &#x33a1;
								</button>
								<input placeholder="20" type="text" name="area">
							</div>
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<label>Residence type</label>
							<div class="column">
								<div class="ui selection dropdown">
									<input name="type" type="hidden">
									<div class="default text">Residence type</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="Flat-Apartment">Flat|Apartment</div>
										<div class="item" data-value="Studio">Studio</div>
										<div class="item" data-value="House">House</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="ui green submit button">Submit Data <i class="globe icon"></i></button>
					<div class="ui error message"></div>
			</form>
		</section>
	</div>
<div class="eight wide column">
	<div id="map-canvas">
	</div>
</div>
<script src="@{'/public/javascripts/InputData.js'}"></script>
<script src="@{'/public/javascripts/map.js'}"></script>