#{extends 'main.html' /}
#{set title:'MyRent Tenants page' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/Administrator">Administrator</a>
  <a class="ui item" href="/Administrator/Report">Administrator Reports</a>
  <a class="ui active item" href="/Administrator/Charts">Administrator Charts</a>
  <a class="ui item" href="/Contact">Contact</a>
  <a class="ui item" href="/Administrator/Logout">Administrator Logout</a>
</nav>

<div class="ui grid">

   <div class="eight wide column">
    <section class="ui eight wide segment">
      <h3>Administrator Charts</h3><br>
        <div style="overflow-y:scroll; max-height:405px">
          <table class="ui green inverted table segment" class="removeMe">
            <thead>
              <tr>
                <th>Eircode</th>
			    <th>Landlord</th>
		        <th>Rent <i class="euro icon"></i></th>
              </tr>
            </thead>
            <tbody id="markertable">           
              <tr>
              </tr>          
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class="eight wide column">
<!--       <section class="ui eight wide segment"> -->
         <button class="ui green button" type="button" onclick="loadChart()"><i class="refresh icon"></i>Load Pie Chart</button>
         <div class="ui 4:3 embed" id="chartContainer" style="height: 300px; width: 100%;"></div>
<!--       </section> -->
    </div>
  </div>
  <script src="@{'/public/javascripts/adminPieChart.js'}"></script>
<!--   <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>  -->
  <script src="@{'/public/javascripts/canvasjs.min.js'}"></script>   
     