#{extends 'main.html' /}
#{set title:'MyRent Tenants page' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/Administrator">Administrator</a>
  <a class="ui item" href="/Administrator/Report">Administrator Reports</a>
  <a class="ui active item" href="/Administrator/Charts">Administrator Charts</a>
  <a class="ui item" href="/Contact">Contact</a>
  <a class="ui item" href="/Administrator/Logout">Administrator Logout</a>
</nav>

<div class="ui grid">
  <div class="sixteen wide column">
  <section class="ui segment">
  </section>
  </div>
  </div>
  