
#{extends 'main.html' /}
#{set title:'MyRent Tenants page' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui active item" href="/Administrator">Administrator</a>
  <a class="ui item" href="/Administrator/Report">Administrator Reports</a>
  <a class="ui item" href="/Administrator/Charts">Administrator Charts</a>
  <a class="ui item" href="/Contact">Contact</a>
  <a class="ui item" href="/Administrator/Logout">Administrator Logout</a>
</nav>

<div class="ui sixteen wide grid">  
  <div class="six wide column">
    <section class="ui six wide segment">
    
    <section class="ui form segment">
      <form action="/Tenants/Signup	" method="GET">
	    <div class="field">
		  <button class="ui big green submit icon button">
		  <i class="user icon"></i>
          Register Tenant
		  </button>
       </div>
     </form>
  </section>
  
  <section class="ui form segment">
      <form action="/Landlords/Signup" method="GET">
	    <div class="field">
		  <button class="ui big green submit icon button">
		  <i class="user icon"></i>
          Register Landlord
		  </button>
       </div>
     </form>
  </section>
    
    	     
<!-- <section class="ui form segment"> -->
<!-- 	<form action="/Tenants/deleteTenant" method="POST"> -->
     <section class="ui form segment tenant">
		<h2 class="ui dividing header">Delete Tenant</h2>   
	         <div class="two fields">
			<div class="field">
				<div class="column">
					<div class="ui selection dropdown" id="deleteTenant">
						<input name="deleteTenant" type="hidden">
						<div class="default text">Select Tenant</div>
							<i class="dropdown icon"></i>
							<div class="menu tenant">
							   #{list items:tenants, as:'tenant'}
								<div class="item tenantList" data-value="${tenant.id}">${tenant.email}</div>
							   #{/list}							   
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="ui green submit button">Delete Tenant <i class="delete icon"></i></button>
		<div class="ui error message"></div>
<!-- 	  </form> -->
</section>
	    
<!--   <section class="ui form segment"> -->
<!-- 	<form action="/Landlords/deleteLandlord" method="POST"> -->
     <section class="ui form segment landlord">
		<h2 class="ui dividing header">Delete Landlord</h2>   
          <div class="two fields">
			<div class="field">
				<div class="column">
					<div class="ui selection dropdown" id="deleteLandlord">
						<input name="deleteLandlord" type="hidden">
						<div class="default text">Select Landlord</div>
							<i class="dropdown icon"></i>
							<div class="menu landlord">
								#{list items:landlords, as:'landlord'}
								  <div class="item landlordList" data-value="${landlord.id}">${landlord.email}</div>
								#{/list}
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="ui green submit button">Delete Landlord <i class="delete icon"></i></button>
		<div class="ui error message"></div>
<!-- 	  </form> -->
    </section>
	  
    </section>
  </div>  
  <div class="eight wide column">
    <section class="ui eight wide segment">
     
			<section class="ui segment">
			  <h4>Residences appear as markers</h4>
			  <form action="/Administrator/administratorResidences" method="POST">    
			    click on the markers for information on tenant
			    <div  class="ui 4:3 embed" id="map-canvas"></div>
			    <div id="notification"></div>
			    </div>
			    
			   </div>			  	
			  </form>
		    </section>
    </section>
  </div> 
</div>

<script src="@{'/public/javascripts/administrator.js'}"></script>
<script src="@{'/public/javascripts/administratorMap.js'}"></script>