#{extends 'main.html' /}
#{set title:'MyRent Tenants page' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/Administrator">Administrator</a>
  <a class="ui active item" href="/Administrator/Report">Administrator Reports</a>
  <a class="ui item" href="/Contact">Contact</a>
  <a class="ui item" href="/Administrator/Logout">Logout</a>
</nav>

<div class="ui grid">
  <div class="sixteen wide column">
  <section class="ui segment">
    
        <button class="ui green button" type="button" onclick="unsorted()">Unsorted</button>
        <button class="ui green button" type="button" onclick="rented()">Rented/Vacant</button>
        <button class="ui green button" type="button" onclick="byRent()"><i class="euro icon"></i>By Rent</button>
        <button class="ui green button" type="button" onclick="byType()">By Type</button>
        <button class="ui green button" type="button" onclick="deleteTable()">delete the table</button>
      </section>
    </div>
    <div class="sixteen wide column">
      <section class="ui segment">
      <h4>Sort the Residence list with the button filters</h4><br>
        <div style="overflow-y:scroll; max-height:405px">
          <table class="ui green inverted table segment" class="removeMe">
            <thead>
              <tr>
                <th>Eircode</th>
			    <th>Landlord</th>
			    <th>Tenant</th>
			    <th>Date registered</th>
		        <th>Rent <i class="euro icon"></i></th>
		        <th>Dwelling</th>
		        <th>Bedrooms</th>
		        <th>Bathrooms</th>
		        <th>Area</th>
              </tr>
            </thead>
            <tbody id="markertable">           
              <tr>
              </tr>          
            </tbody>
          </table>
        </div>
      </section>
  
<section class="ui segment">

</section>
<script src="@{'/public/javascripts/adminReport.js'}"></script>