#{extends 'main.html' /}
#{set title:'MyRent' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/Landlords/SignUp">Sign Up</a>
  <a class="ui item" href="/Landlords/Login">Log In</a>
  #{if currentLandlord != null}
  <a class="ui item" href="/editdetail">Edit Details</a>
  #{/if}
  <a class="ui item" href="/InputData">Input data</a>
  <a class="ui item" href="/Report">Report</a>
  <a class="ui active item" href="/Contact">Contact</a>
  <a class="ui item" href="/Logout">Logout</a>
</nav>

<section class="ui segment">
 <h2 class="title"> MyRent</h2>
 <h3>Thank you for your message</h3>
 <div class="ui two colum grid">
  <div class="ten wide column">
    <div class="ui raised segment">
		<p>Thank you for your message ${con.firstName} ${con.lastName}</p>
		<p>We very much appreciate you taking the time to message us.</p> 
		<p>We will deal with your issue in due course.</p>
		<br>
		Regards
		<br>
		From the MyRent team  
    </div>
  </div>
  <div class="six wide column">
    <img class="ui image" src="/public/images/acknowledge.jpg">
  </div>
</div>
</section>

