#{extends 'main.html' /}
#{set title:'MyRent' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/Accounts/SignUp">Sign Up</a>
  <a class="ui item" href="/Accounts/Login">Log In</a>
  <a class="ui item" href="/InputData">Input data</a>
  <a class="ui item" href="/Report">Report</a>
  <a class="ui active item" href="/Contact">Contact</a>
  <a class="ui item" href="/Logout">Logout</a>
</nav>


<div class="ui grid">
<div class="eight colume grid">
<section>

<h1>MyRent</h1>
<br>
<h3>Acknowledgement</h3>
<p>Thank you for your message</p>
<p>We very much appreciate you taking the time to message us. 
We will deal with your issue in due course.</p>
<br>
Regards
<br>
From the MyRent team 

</section>

</div>
</div>