#{extends 'main.html' /}
#{set title:'MyRent' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/InputData">Input data</a>
  <a class="ui item" href="/Report">Report</a>
  <a class="ui active item" href="/Contact">Contact</a>
  #{if currentLandlord != null}
    <a class="ui item" href="/Landlords">Landlord</a>
    <a class="ui item" href="/Landlords/Logout">Landlord Logout</a>
  #{/if} 
  #{if currentTenant != null}
    <a class="ui item" href="/Tenants">Tenant</a>
    <a class="ui item" href="/Tenants/Logout">Tenant Logout</a>
  #{/if}
  #{if currentAdministrator != null}
    <a class="ui item" href="/Administrator">Administrator</a>
    <a class="ui item" href="/Administrator/Logout">Administrator Logout</a>
  #{/if} 
</nav>

<section class="ui green inverted segment">      
  <h5>We would very much appreciate if you would provide some feedback.</h5>
  <div class="ui fluid form segment">
	<form action="/Contact/sendMessage" method="POST">
    <div class="ui input field">
		  <input placeholder="Your first name" name="fName" type="text">
    </div>
	  <div class="ui input field">
		  <input placeholder="Your last name" name="lName" type="text">
    </div>
    <div class="ui divider"></div>
	    <div class="ui left icon input">
	      <input placeholder="Your email address" name="cEmail" type="text" size="30">
	      <i class="user icon"></i>
	    </div>
    <div class="ui divider"></div>
		<div class="ui form">
		  <div class="field">
		    <textarea placeholder="Your message" name="msgtxt"></textarea>
		  </div>
		</div> 
    <div class="ui divider"></div>
     <button class="ui green submit button">Send Message</button>
     <div class="ui error message"></div>	  
  </form>
  </div>
</section>  
<script src="@{'/public/javascripts/contact.js'}"></script>