#{extends 'main.html' /}
#{set title:'MyRent' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/Landlords/Signup">Sign Up</a>
  <a class="ui item" href="/Landlords/login">Log In</a>
  <a class="ui active item" href="/Landlords/editdetails">Edit Details</a>
  <a class="ui item" href="/InputData">Input data</a>
  <a class="ui item" href="/Report">Report</a>
  <a class="ui item" href="/Contact">Contact</a>
  <a class="ui item" href="/Logout">Logout</a>
</nav>

<section class="ui segment">
<div class="ui grid">
  <div class="ten wide colume">
	<h2>Edit details of your MyRent Landlord account</h2>
	<h5>Existing details are shown in field , you don't have to input all data again</h5>

	<div class="ui fluid form segment">
		<form action="/Landlords/editDetails" method="POST">
			<div class="two fields">
				<div class="field">
					<input placeholder="First Name" name="firstName" type="text">
				</div>
				<div class="field">
					<input placeholder="Last Name" name="lastName" type="text">
				</div>
			</div>
			<div class="two fields">
				<div class="ui left icon input field">
					<input placeholder="Email" name="email" type="text"> <i
						class="user icon"></i>
				</div>
				<div class="ui left icon input field">
					<input placeholder="Password" type="password" name="password">
					<i class="lock icon"></i>
				</div>
			</div>
			<div class="two fields">
				<div class="ui left icon input field">
					<input placeholder="Address line 1" name="line1Address" type="text"> <i
						class="user icon"></i>
				</div>
				<div class="ui left icon input field">
					<input placeholder="Address line 2" type="line2Address" name="text">
					<i class="lock icon"></i>
				</div>
			</div>
			  <div class="two fields">
				<div class="ui left icon input field">
					<input placeholder="City" name="city" type="text"> <i
						class="user icon"></i>
				</div>
				<div class="ui left icon input field">
					<input placeholder="County" type="county" name="text">
					<i class="lock icon"></i>
				</div>
			</div>
			<button class="ui green submit button">Submit Data</button>
			<div class="ui error message"></div>
	</div>
	</form>
	</div>
	</div>
</section>
</section>