#{extends 'main.html' /}
#{set title:'MyRent' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/Landlords">Landlord</a>
  <a class="ui active item">Residence Edit</a>
  <a class="ui item" href="/Contact">Contact</a>
  <a class="ui item" href="/Landlords/Logout">Logout</a>
</nav>

<div class="ui grid">
  <div class="eight wide column">
	<section class="ui form segment">
	  <form action="/InputData/UpdateData/${residence.id}" method="POST">
	  <div class="two fields">
		<div class="field">
		  <div class="ui left action input">
			<button class="ui green labeled icon button">
			  <i class="euro icon"></i> Rent
			</button>
			<input placeholder="${residence.rent}" type="text" name="rent">
		  </div>
		</div>
		<div class="field">
			<div class="ui left action input">
				<button class="ui green labeled icon button">
					<i class="world icon"></i> Eircode
				</button>
				<input readonly value="${residence.eircode}" type="text" name="eircode">
			</div>
		</div>
	</div>
	<button class="ui green submit button">Submit Data <i class="globe icon"></i></button>
	<div class="ui error message"></div>
	</form>
    </section>
  </div>
</div>